html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* --------------- HEADER INFORMATION IS FOR ALL PAGES --------------- */
.site-header {
    background-color: #fff;
    text-align: center;
    padding: 0px;
}
  
.logo-container img.catcafelogo {
    top: 10px;
    width: 150px;
    height: auto;
}
  
.logo-container {
    position: relative;
}
  
.header-nav .shoppingcart,
.header-nav .profile {
    position: absolute;
    top: 20px;
    width: 40px;
    height: auto;
}
  
.header-nav .shoppingcart {
    right: 58px; 
}
  
.header-nav .profile {
    right: 30px; 
}
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
    font-family: 'Jua', sans-serif; 
    font-size: 17px;                
    font-weight: normal;            
    text-transform: uppercase;      
}
  
.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
  
.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
  
.search {
    display: flex;
    align-items: center;
}
  
.searchicon {
    width: 40px;
    height: auto;
    position: relative;
    top: -11px;
}
/* --------------- END OF HEADER SECTION --------------- */
/* --------------- FOOTER INFORMATION IS FOR ALL PAGES --------------- */
.site-footer {
    background-color: #E5E7CE; 
    padding: 10px 20px;
    font-family: 'Jua', sans-serif;
    font-size: 13px;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
  
.footer-links a {
    text-decoration: none;
    color: #968D8D;
    font-size: 14px;
}
  
.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
  
.footer-social p {
    color: #968D8D;
    font-size: 15px;
}
  
.social-icons img {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

/* --------------- END OF FOOTER SECTION --------------- */


/* --------------- HOMEPAGE.HTML FILE --------------- */
/* --------------- main information: HOMEPAGE --------------- */
.site-body {
    text-align: center;
    padding: 40px 0;
}

.cat-welcome {
    display: flex;
    justify-content: center;   
    align-items: center;       
    margin-top: -20px;   
    gap: 10px;    
}

.welcome-banner {
    position: relative;
    display: inline-block;
}

.welcomecat {
    width: 711px;
    height: auto;
    position: relative;
    top: -20px;
}

.visit-btn {
    position: absolute;
    bottom: 50px;      /* adjust this to position vertically */
    right: 60px;       /* adjust this to position horizontally */
    background-color: #C0865A;
    color: white;
    font-family: 'Jua', sans-serif;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
  
.visit-btn:hover {
    background-color: #C0865A;
}

.next {
    width: 40px;    
    height: auto;
    position: relative;
    top: -20px;
    margin: 0 10px;
}

.next {
    width: 25px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}

.cat-heading {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
}

.paw {
    width: 50px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}

.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.kitty img {
    width: 150px;
    height: auto;
}

.kitty p {
    margin: 0;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    top: -40px;
}

.arrow {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.location-heading {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}

.map {
    width: 711px;
    height: auto;
    position: relative;
    margin-top: 5px;
}

.location-information p {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.location-information a {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.orange-cat {
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.cat-tagline p {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
}

/* --------------- end of main section: HOMEPAGE --------------- */
/* --------------- THE END OF HOMEPAGE.HTML FILE --------------- */

/* --------------- BOOKAVISIT.HTML FILE --------------- */
/* --------------- main information: BOOK A VISIT --------------- */
.book-a-visit {
    text-align: center;
    padding: 40px 20px;
}

.book-a-visit h1 {
    font-size: 64px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 10px;
}

.book-a-visit img {
    width: 62px;
    height: auto;
}

.book-a-visit p {
    font-size: 32px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 40px;
}


/* --------------- THE END OF BOOKAVISIT.HTML FILE --------------- */