html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
  
body.fade-in {
    opacity: 1;
}

/* --------------- HEADER INFORMATION IS FOR ALL PAGES --------------- */
.site-header {
    background-color: #fff;
    text-align: center;
    padding: 0px;
}
  
.logo-container img.catcafelogo {
    top: 10px;
    width: 150px;
    height: auto;
}
  
.logo-container {
    position: relative;
}
  
.header-nav .shoppingcart,
.header-nav .profile {
    position: absolute;
    top: 20px;
    width: 40px;
    height: auto;
}
  
.header-nav .shoppingcart {
    right: 58px; 
}
  
.header-nav .profile {
    right: 30px; 
}
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
    font-family: 'Jua', sans-serif; 
    font-size: 17px;                
    font-weight: normal;            
    text-transform: uppercase;      
}
  
.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
  
.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
  
.search {
    display: flex;
    align-items: center;
}
  
.searchicon {
    width: 40px;
    height: auto;
    position: relative;
    top: -11px;
}
/* --------------- END OF HEADER SECTION --------------- */
/* --------------- FOOTER INFORMATION IS FOR ALL PAGES --------------- */
.site-footer {
    background-color: #E5E7CE; 
    padding: 10px 20px;
    font-family: 'Jua', sans-serif;
    font-size: 12px;
}
  
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
  
.footer-links a {
    text-decoration: none;
    color: #968D8D;
    font-size: 12px;
}
  
.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
  
.footer-social p {
    color: #968D8D;
    font-size: 12px;
}
  
.social-icons img {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

/* --------------- END OF FOOTER SECTION --------------- */


/* --------------- HOMEPAGE.HTML FILE --------------- */
/* --------------- main information: HOMEPAGE --------------- */
.site-body {
    text-align: center;
    padding: 40px 0;
}

.cat-welcome {
    display: flex;
    justify-content: center;   
    align-items: center;       
    margin-top: -20px;   
    gap: 10px;    
}

.welcome-banner {
    position: relative;
    display: inline-block;
}

.welcomecat {
    width: 711px;
    height: auto;
    position: relative;
    top: -20px;
}

.visit-btn {
    position: absolute;
    bottom: 50px;      
    right: 60px;       
    background-color: #C0865A;
    color: white;
    font-family: 'Jua', sans-serif;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
  
.visit-btn:hover {
    background-color: #C0865A;
}

.next {
    width: 40px;    
    height: auto;
    position: relative;
    top: -20px;
    margin: 0 10px;
}

.next {
    width: 25px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}

.cat-heading {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
}

.paw {
    width: 50px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}

.cats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.kitty img {
    width: 150px;
    height: auto;
}

.kitty p {
    margin: 0;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    top: -40px;
}

.arrow {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.location-heading {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    margin-top: 40px;
}

.map {
    width: 711px;
    height: auto;
    position: relative;
    margin-top: 5px;
}

.location-information p {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.location-information a {
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.orange-cat {
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.cat-tagline p {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
}

/* --------------- end of main section: HOMEPAGE --------------- */
/* --------------- THE END OF HOMEPAGE.HTML FILE --------------- */

/* --------------- BOOKAVISIT.HTML FILE --------------- */
/* --------------- main information: BOOK A VISIT --------------- */
.back-home {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 60px;
    margin-top: -30px;
    margin-bottom: 15px;
}

.back-link {
    font-size: 22px;
    text-decoration: none;
    color: #79747E;
    font-family: 'Jua', sans-serif;
}

.back-link:hover {
    color: #000;
}
  
.back-visit {
    margin-left: 5px;
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
    color: #79747E;
}
  
.back-visit:hover {
    color: #000;
    text-decoration-color: #000;
}

.book-a-visit {
    text-align: center;
    padding: 40px 20px;
}

.book-a-visit h1 {
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 10px;
}

.book-a-visit img {
    width: 50px;
    height: auto;
}

.book-a-visit p {
    font-size: 25px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 40px;
}

.visit-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
}
  
.visit-option {
    background-color: #108645;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}
  
.visit-option:hover {
    transform: translateY(-5px);
}
  
.visit-option img {
    width: 90px;
    height: auto;
    margin-bottom: 15px;
}
  
.visit-option p {
    color: #FFFF66;
    font-size: 24px;
    margin: 0;
    text-align: center;
    line-height: 1.3;
}

.visit-option a {
    text-decoration: none;   
    color: inherit;          
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------------- THE END OF BOOKAVISIT.HTML FILE --------------- */





/* --------------- SEARCHPAGE.HTML ------------------------------- */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 20px auto;
}

.search-wrapper {
    position: relative;
    width: 440px;
    margin: 0 auto;
}

.search-bar {
    width: 82%;
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    border: none;
    border-radius: 12px;
    background-color: #f0f0f0;
    font-family: 'Jua', sans-serif;
    color: #333;
}

.search-bar::placeholder {
    color: #B3B3B3;
    opacity: 0.6;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    opacity: 0.6;
    pointer-events: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1000px;
  margin: 70px auto;
  padding: 0 20px;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  gap: 100px;
}

/* --------------- SELECTADATE.HTML ------------------------------- */
.select-a-date {
  text-align: center;
  padding: 40px 20px;
}

.select-a-date h1 {
  font-size: 40px;
  font-family: 'Jua', sans-serif;
  margin-bottom: 10px;
}

.select-a-date p {
  font-size: 25px;
  font-family: 'Jua', sans-serif;
  margin-bottom: 40px;
}

.divider {
  color: #79747E;
  margin-left: 5px;
}

.booking-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0; 
  margin-bottom: 0;  
  margin-top: 60px;
}

.calendar-container {
  flex: 1;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-30px);
}

.calendar-box {
  background-color: #dcdcdc;
  border-radius: 16px;
  width: 100%;
  max-width: 420px;
  font-family: 'Jua', sans-serif;
  overflow: hidden;
}

.calendar-header {
  background-color: #2e8b57;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header .arrow {
  cursor: pointer;
  padding: 0 10px;
  font-size: 20px;
}

.month-title {
  flex: 1;
  text-align: center;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #b8e4b8;
  text-align: center;
  padding: 8px 0;
  font-weight: bold;
}

.calendar-day.disabled {
  color: #aaa;
  pointer-events: none;
  opacity: 0.4;
}

.calendar-day.selectable.selected-date {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.calendar-day.selectable {
  cursor: pointer;
  pointer-events: auto;  /* Make sure it’s clickable */
  z-index: 1;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  padding: 10px;
  position: relative;
}

.calendar-grid::before,
.calendar-grid::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: yellow;
}

.calendar-grid::before {
  top: 28px; 
}
.calendar-grid::after {
  top: 101px; 
}
.calendar-grid div {
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  border-radius: 8px;
}

.calendar-grid .dimmed {
  color: #999;
}

.selected-slot {
  border: 2px solid black;
}

.selected-date {
  background-color: white;
  border-radius: 50%;
  color: black;
  font-weight: bold;
}

.timeslots {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  max-width: 420px;
}

.slot-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slot {
  font-family: 'Jua', sans-serif;
  font-size: 18px;
  padding: 14px 20px;
  color: #000;
  text-align: center;
  cursor: pointer;
  width: 120px;
  background-color: #D9D9D9; 
  border: 2px solid transparent;            
  box-shadow: none;         
}

.slot-status {
  font-size: 16px !important;
  font-weight: 400;
  color: #000;
  margin-top: 6px;
  margin-bottom: 0;
}


.slot.sold-out {
  background-color: #ff6c6c;
  color: #2d1212;
  cursor: not-allowed;
  border: none;
  box-shadow: none;
}

.slot.selected {
  border: 2px solid black;
}


.next-btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 80px 20px; 
  margin-top: 20px;
  width: 100%;
}

.next-button {
  font-family: 'Jua', sans-serif;
  font-size: 16px;
  background-color: #A86635;
  color: white;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.next-button:hover {
  background-color: #8e4c27;
}

@media (max-width: 768px) {
  .calendar-container {
    justify-content: center;
    transform: none;
  }

  .calendar-img {
    width: 100%;
    max-width: 100%;
  }

  .next-btn-container {
    justify-content: center;
  }
}



/* --------------- BOOKINGCONFIRMATION.HTML ------------------------------- */
.confirmed-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 70px;
  font-family: 'Jua', sans-serif;
}

.confirmation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.confirmation-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  margin-top: -50px;
}

.email-note {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-family: 'Jua', sans-serif;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 0 20px; /* prevents overflow if screen is small */
}

.paw {
  width: 40px;
  height: auto;
  vertical-align: middle
}


.thank-you-message {
  font-size: 20px;
  margin-bottom: 40px;
  color: #333;
}

.back-home-link {
  font-size: 16px;
  text-decoration: none;
  color: #a39e9e;
  font-weight: bold;
}

.back-home-link:hover {
  text-decoration: underline;
}