.site-header {
    background-color: #fff;
    text-align: center;
    padding: 10px;
}
  
.logo-container img.catcafelogo {
    top: 10px;
    width: 150px;
    height: auto;
}
  
.logo-container {
    position: relative;
}
  
.header-nav .shoppingcart,
.header-nav .profile {
    position: absolute;
    top: 20px;
    width: 40px;
    height: auto;
}
  
.header-nav .shoppingcart {
    right: 58px; 
}
  
.header-nav .profile {
    right: 30px; 
}
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 20px auto 0;
    padding: 0 20px;
    font-family: 'Jua', sans-serif; 
    font-size: 15px;                
    font-weight: normal;            
    text-transform: uppercase;      
}
  
.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}
  
.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
  
.navbar a.active {
    border-bottom: 1.5px solid #000000;
    padding-bottom: 3px;
}
  
.search {
    display: flex;
    align-items: center;
}
  
.searchicon {
    width: 40px;
    height: auto;
    position: relative;
    top: -11px;
}
  
.site-body {
    text-align: center;
    padding: 40px 0;
}

.cat-welcome {
    display: flex;
    justify-content: center;   
    align-items: center;       
    margin-top: 0px;       
}

.welcomecat {
    width: 711px;
    height: auto;
    position: relative;
    top: -20px; 
}

.next {
    width: 40px;    
    height: auto;
    position: relative;
    top: -20px;
    margin: 0 10px;
}

.cat-heading {
    display: flex;
    align-items: center;   
    justify-content: center;
    gap: 12px;
    font-family: 'Jua', sans-serif;
    font-size: 28px;
}

.paw {
    width: 50px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}


.cats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.cats img {
    width: 150px;
    height: auto;
}

.next {
    width: 25px;
    height: auto;
    margin: 0 50px;
    vertical-align: middle;
}

.site-footer {
    background-color: #E5E7CE; /* light pastel beige */
    padding: 30px 20px;
    font-family: 'Jua', sans-serif;
    font-size: 13px;
}
  
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
.footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
  
.footer-links a {
    text-decoration: none;
    color: #4a4a4a;
}
  
.footer-social {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
  
.footer-social span {
    color: #4a4a4a;
}
  
.social-icons img {
    width: 20px;
    height: auto;
    margin-left: 10px;
}
  